body {
    background-color: #FFC600; /* MacDonald's yellow */
  }
  
  h1, h2, h3 {
     color: #8B6B4D; /* Fallout 4 brown */
  }
  
  p {
     color: #BFBFBF; /* Fallout 4 gray */
  }
  
  .button {
     background-color: #D31010; /* MacDonald's red */
  }
  .logo {
    background-image: url('https://th.bing.com/th/id/OIP.UvZMBGl9-rD5WGsL8xPzRQHaFx?pid=ImgDet&rs=1'); /* Fallout 4 mascot */
 }
 
 .navbar {
    background-image: url('https://cdn.instructables.com/ORIG/FIA/N2YY/J7RS7NY5/FIAN2YYJ7RS7NY5.jpg?width=960'); /* MacDonald's Big Mac burger */
 }
 body {
    font-family: 'Red Rocket', sans-serif; /* Fallout 4 font */
 }
 
 h1, h2, h3 {
    font-family: 'Gotham', sans-serif; /* MacDonald's font */
 }
 